@{
    ViewData["Title"] = "About";
}

<!-- service page breadcrumns -->
<section class="inner-banner">
</section>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-padding">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">About Us</li>
    </ol>
</nav>
<!-- service page breadcrumns -->


<section class="w3l-about">
    <div class="container">
        <div class="row about-content">
            <div class="col-lg-6 info mb-lg-0 mb-sm-5 mb-4 align-center">
                <h3 class="title">About Us</h3>
                <h6>
                    Business planning, Strategy and Execution. A problem-solving philosophy that leads to
                    products people actually want to use.
                </h6>
                <p class="mt-md-4 mt-3 mb-0">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi
                    recusandae, ducimus vel rerum accusamus odit provident nobis ratione quisquam obcaecati atque
                    fuga maiores! Tenetur aspernatur alias unde facilis eveniet? Eius! Lorem ipsum dolor sit amet,
                    Fugit ipsam nostrum minus alias, expedita.
                </p>
            </div>
            <div class="col-lg-6">
                <img src="~/images/about.png" class="img-fluid img-shadow" alt="about">
            </div>
        </div>
    </div>
</section>